
.left {
  float: left;
}

.right {
  float: right;
}

.container {
  padding: 0 15px;
  width: 100%;
  height: 100%;
  min-width: 310px;
  max-width: 768px;
  margin: 0 auto;
}

.header {
  height: 69px;
}

.header__info {
  display: block;
}

.header {
  height: 109px;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 2;
  box-shadow: 0 0 10px #e5e5e5;
}

.header__main {
  display: block;
}

.header__info {
  height: 40px;
}

.header__main {
  height: 69px;
}

.header__social-icons {
  float: left;
}

.header__hotline {
  float: right;
}


.header__brand-logo {
  float: left;
  margin: 13px 0;
}

.header__nav-button {
  float: right;
}

.hide .header__navbar {
  display: none;
}

.show .header__navbar {
  display: block;
  position: fixed;
  top: 109px;
  left: 0px;
  padding-left: 15px;
  z-index: 2;
}

.main {
  height: 550px;
  background-image: url('../images/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 72% -10px;
}

.main .container {
  padding-top: 109px;
  position: relative;
}

.customer__text {
  width: 80%;
  padding: 15px;
  margin-top: 40px;
}

.customer__logos {
  width: 100%;
  margin-bottom: 15px;
}

.customer__logo {
  width: 50%;
  padding: 10px;
}

.customer__logo img {
  height: 80px;
  max-width: 100px;
  display: block;
  margin: 0px auto;
}

.customer__logo:first-child {
  margin-top: 35px;
}

.customer__logo:first-child img {
  height: auto;
}

.customer__section {
  border-bottom: 1px solid #e5e5e5;
}

.services__image {
  display: none;
}

.services__head {
  width: 100%;
}

.services__list {
  width: 100%;
}

.services__list-item {
  width: 100%;
  padding: 5px;
  margin: 15px 0;
}

.services__list-left {
  width: 56px;
  max-height: 53px;
}

.services__list-right {
  width: 80%;
  padding-left: 12px;
  border-left: 1px solid #e5e5e5;
}

.portfolio {
  background: #fafafa;
}

.portfolio__head {
  width: 100%;
}

.portfolio__list {
  width: 100%;
  margin-bottom: 40px;
}

.portfolio__list-item {
  width: 50%;
  padding: 5px;
  margin: 15px 0;
}

.portfolio img {
  display: none;
}

.contact {
  height: 550px;
  background-image: url('../images/lower-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -267px 64px;
}

.contact__form {
  width: 85%;
  margin: 0px auto;
}

.form__element {
  width: 100%;
}

/* 
  ==============================
  Responsive for tablet
  ==============================
*/

@media (min-width: 768px)  {

  .main {
    background-position: center -10px;
  }

  .container {
    max-width: 1170px;
  }

  .show .header__navbar,
  .hide .header__navbar {
    display: block;
    float: left;
    width: 90%;
    margin-top: 13px;
    position: static;
    box-shadow: none;
    padding-left: 0px;
  }

  .header__nav-group {
    float: right;
    width: 70% ;
    margin: 13px 0;
  }

  .header__brand-logo {
    width: 20%;
  }

  .customer__logo {
    width: 25%;
    padding: 10px;
  }

  .customer__logos{
    margin-bottom: 40px;
  }

  .services__list{
    margin-bottom: 40px;
  }

 
  .services__list-item {
    width: 50%;
    margin: 20px 0;
  }

  .portfolio__list-item {
    width: 25%;
  }

  .contact {
    background-position: -193px 46px;
  }

  .contact__form {
    width: 75%;
  }

  .form__element-half {
    width: 48%;
  }

}

/* 
  ==============================
  Responsive for small desktop
  ==============================
*/


@media (min-width: 1170px){
  
  .customer__text {
    width: 34%;
  }

  .customer__logos {
    width: 60%;
  }

  .customer__logo{
    width: 23.33%;
    padding: 0px;
  }

  .customer__logo:first-child {
    width: 30%;
    margin-top: 14px;
  }

  .customer__logo img {
    max-width: none;
    height: auto;
    margin: 0px;
  }

  .services {
    height: 600px;
  }

  .services__image {
    display: block;
    position: absolute;
    right: 780px;
    top: 215px;
  }

  .services__image img {
    width: 700px;
  }


  .services__main-content {
    float: right;
    width: 750px;
  }

  .services__list-left{
    width: 60px;
  }

  .portfolio{
    height: 926px;
    background: url('../images/Rectangle1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .portfolio ,.container {
    position: relative;
  }

  .portfolio__list-item {
    width: 50%;
    padding: 0px;
    margin: 39px 0;
  }

  .portfolio__main-content {
    float: left;
    margin-left: 195px;
    width: 700px;
    margin-top: 155px;
  }

  .portfolio__list {
    width: 77%;
    margin-top: 50px;
  }

  .portfolio img {
    position: relative;
    display: block;
  }

  .portfolio img {
    width: 336px;
    position: absolute;
    right: 0;
    bottom: 78px;
  }

  .contact__form {
    width: 750px;
    position: relative;
    bottom: 13px;
  }

  .contact {
    position: relative;
    bottom: 27px;
    height: 1076px;
    background-position: center;
  }

  .contact__head {
    position: relative;
    bottom: 14px;
  }


 

}


/* more media quesries to make image size ideal */

@media (min-width: 1450px){

  .services {
    height: 670px;
  }

  .services__image {
    top: 155px;
  }

  .services__image img {
    width: 900px;
  }

  .portfolio{
    background: url('../images/Rectangle2.png');
  }
}

@media (min-width: 1650px) {
  .portfolio{
    background: url('../images/Rectangle3.png');
  }
}



/* 
  ==============================
  Responsive for extra-large according to template
  ==============================
*/

@media (min-width: 1800px){
  .main {
    background-position: 0 -8px;
  }

  .services {
    height: 760px;
  }

  .services__image {
    right: 726px;
    top: 105px;
  }

  .services__image img {
    width: 1151px;
  }

  .portfolio__main-content {
    position: relative;
    top: 113px;
  }

  .portfolio{
    height: 926px;
    background: url('../images/man_and_rectangle.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .portfolio img {
    display: none;
  }


}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}











