/* 
  ==============================
  Header
  ==============================
*/

h1,h2,h3,h4,span,p,li {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.header__info {
  font-size: 12px;
  line-height: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.header--hotline-number{
  font-weight: 300;
}

.header__social-icons a {
  color: grey;
  margin-right: 10px;
}

.header__social-icons a:active, 
.footer__social a:active {
  color: #1f9923;
}

.facebook-icon i:hover {
  color: #4267B2;
}

.twitter-icon i:hover {
  color: #1da1f2;
}

.pinterest-icon i:hover {
  color: #bd081c;
}

.instagram-icon i:hover {
  color: #e1306c;
}

.skype-icon i:hover {
  color: #00aff0;
}

.dribble-icon i:hover {
  color: #ea4c89;
}

.google-plus-icon i:hover {
  color: #db4a39;
}

.tumblr-icon i:hover {
  color: #34526f;
}


.header__nav-button button {
  background: url('../images/navbar-icon.png') no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border: 1px solid #d2c6c6;
  border-radius: 5px;
  padding: 16px;
  margin-top: 17px;
  cursor: pointer;
}

.header__nav-button button:hover {
  box-shadow: 0px 0px 15px #e5e5e5;
}

.header__navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 4px 12px #e5e5e5;;
}

.header__navbar__li {
  padding: 10px 0px;
}

.header__navbar__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: #575c64;
}

.main {
  border-bottom: 1px solid #e5e5e5;
}

.main__section {
  position: relative;
  top: 60px;
  width: 90%;
  margin: 0 auto;
}

.main__heading {
  color: #303842;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.main__paragraph {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  color: #6b7c93;
  margin-top: 32px;
}


.main__button {
  font-size: 14px;
  color: #4caf50;
  display: block;
  margin: 0px auto;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 18px;
  box-shadow: 0 0 10px #d2c6c6;
  margin-top: 25px;
  cursor: pointer;
}

.main__button:hover {
  color: #fff;
  background-color: #4caf50;
  border: 1px solid #4caf50;
}

.main__button:active {
  color: #fff;
  background-color: #1f9923;
  border: 1px solid #1f9923;
}

h2 {
  font-size: 21px;
}

p {
  font-size: 14px;
  line-height: 20px;
  color: #8191a6;
}


.customer__text h2, .services__head, .portfolio__head {
  font-weight: 300;
}

.customer__text p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 12px;
}

 .services__head , .portfolio__head, .contact__head {
   padding: 10px;
   margin-top: 55px;
   margin-bottom: 15px;
 }

 .services__head p , .portfolio__head p {
    margin: 12px 0px;
    width: 80%;
 }

 .service__image-first, .service-image-second {
   width: 35px;
 }

 .service__image-third {
   width: 19px;
 }

 .service__image-fourth {
   width: 30px;
 }

 .services__list-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
 }

 .services__list-paragraph {
   margin-top: 8px;
   font-weight: 300;
  }

  .portfolio__number , .portfolio__number-text {
    display: block;
  }

  .portfolio__number {
    font-size: 35px;
    font-weight: 100;
  }

  .portfolio__number-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #303842;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .portfolio__number-first {
    color: #32d5ba;
  }

  .portfolio__number-second {
    color: #6dc4f2;
  }

  .portfolio__number-third {
    color: #ffd13c;
  }

  .portfolio__number-fourth {
    color: #f44336;
  }

  .contact__head {
    text-align: center;
  }

  .contact__head p {
    margin-top: 12px;
    max-width: 270px;
    margin: 0px auto;
  }

  .contact__form {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 35px 20px;
    margin-top: 33px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 20px #e5e5e5;
  }

  .form__element {
    margin-bottom: 20px;
  }

  .form__label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
  }

  .form__input {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 4px;
    width: 100%;
    outline: none;
    padding: 13px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    
  }

  .contact__form textarea {
    height: 80px;
    resize: none;
  }

  .contact__form button {
    margin-top: 0px;
    text-transform: uppercase;

  }

  .footer h4 , .footer li a {
    font-size: 16px;
    font-weight: 400;
  }

  .footer a {
    font-family: 'Roboto', sans-serif;
  }

  .footer h4 {
    text-transform: uppercase;
    color: #303842;
    margin-bottom: 12px;
  }

  .footer li a {
    color: #8191a6;
    margin: 15px 0;
    text-decoration: none;
    display: block;
  }

  .footer li a:hover {
    color: #303842;
  }

  .footer__list {
    margin-top: 15px;
  }

  .footer__social , .footer__main-content{
    margin-top: 15px;
    padding: 10px 0;
  }

  .footer__social a {
    color: grey;
    margin-right: 20px;
  }

  .footer__main-headings {
    margin-top: 15px;
  }

  .footer__main-headings a {
    text-decoration: none;
    display: block;
    color: #303842;
    font-size: 12px;
    font-weight: 400;
  }

  .copyright-text {
    font-weight: 400;
  }





/* 
  ==============================
  Responsive for tablet
  ==============================
*/

@media (min-width: 768px) {

  p {
    line-height: 23px;
  }

  .header__navbar__li {
    display: inline-block;
    padding: 1px;
    margin-right: 10px;
  }

  .header__nav-button button {
    border: none;
    margin-top: 15px;
    width: 17px;
    height: 14px;
    padding: 0;
  }

  .header__navbar__link {
    font-size: 12px;
  }

  .header__social-icons a {
    margin-right: 22px;
  }

  .main__section {
    top: 110px;
    width: 80%;
  }

  .main__button {
    padding: 14px 30px;
    border-radius: 25px;
  }

  .contact__form {
    padding: 50px 45px;
  }

  .contact__head p {
    max-width: 500px;
    margin: 12px auto;
  }

  .contact__form textarea {
    height: 100px;
  }

  .footer__social {
    margin-top: 0px;
    padding: 0px;
  }
}

/* 
  ==============================
  Responsive for Desktop
  ==============================
*/

@media (min-width: 1170px){
  .header--hotline-text {
    margin-right: 19px;
  }

  .header__navbar__li {
    margin-left: 35px;
    letter-spacing: 0.089em;
  }

  .header__nav-button{
    text-align: right;
    width: 5%;
  }

  .show .header__navbar,
  .hide .header__navbar {
    width: 95%;
    text-align: right;
    height: 69px;
    position: relative;
    bottom: 2px;
    margin-top: 0;
    background: transparent;
  }

  .header__navbar__link {
    padding-top: 30px;
  }

  .header__navbar__link:hover {
    border-top: 2px solid #4caf50;
    padding-top: 28px;
    cursor: pointer;
  }

  .header__nav-group {
    margin: 0;
  }

  .header__nav-button button {
    margin-top: 27px;
  }

  .main {
    height: 893px;
  }

  .main__heading {
    font-size: 46px;
    line-height: 57px;
  }

  .main__section {
    top: 233px;
  }

  .main__paragraph {
    width: 77%;
    font-size: 16px;
    margin: 36px auto;
    line-height: 20px;
  }

  .services__head , .portfolio__head, .contact__head {
    margin-bottom: 0px;
  }

  .customer__text {
    font-size: 24px;
    margin: 40px 0px 35px 0px;
    line-height: 23px;
    padding: 0px;
  }

  .customer__text h2 {
    font-size: 23.5px;
  }


  .customer__text p {
    margin-top: 15px;
  }

  .customer__logos {
    margin: 40px 0;
  }

  .customer__first {
    position: relative;
    left: 8px;
  }

  .customer__second {
    position: relative;
    left: 53px;
    top: 2px;
  }

  .customer__third {
    position: relative;
    left: 68px;
    top: 9px;
  }

  .customer__fourth {
    position: relative;
    left: 56px;
    top: 10px;
  }

  .services__head {
    padding: 5px;
    margin-top: 155px;
  }

  .services__head h2 {
    font-size: 34.5px;
  }

  .services__head p {
    margin: 20px 0px;
    width: 86%;
  }

  .services__list {
    margin-top: 46px;
  }

  .services__list-item {
    margin: 38px 0;
  }

  .services__list-item-right {
    padding-left: 30px;
  }

  .services__list-right {
    padding-left: 27px;
  }

  .services__list-heading {
    font-size: 13px;
    position: relative;
    bottom: 5px;
  }

  .services__list-paragraph{
    margin-top: 12px;
  }

  .services .container {
    position: relative;
  }

  .portfolio__head {
    margin-top: 155px;
    padding: 0px;
  }

  .portfolio__head h2 {
    font-size: 34px;
  }

  .portfolio__head p {
    margin-top: 26px;
    width: 100%;
    line-height: 25px;
  }

  .portfolio__number {
    font-size: 44px;
  }

  .portfolio__number-text {
    font-size: 15px;
    margin-top: 12px;
  }

  .contact__form {
    padding: 73px 65px;
    margin-top: 62px;
  }

  .contact__head {
    margin-top: 2px;
  }

  .contact__head h2 {
    font-size: 34px;
  }

  .contact__head p {
    max-width: 530px;
    margin: 23px auto;
    position: relative;
    left: 3px;
  }

  .form__label {
    font-size: 13px;
  }

  .form__input {
    margin-top: 20px;
    margin-bottom: 8px;
    padding: 26px;
  }

  .contact__form textarea {
    height: 172px;
  }

  .contact__form button {
    margin-top: 29px;
    position: relative;
    left: 8px;
    margin-bottom: 13px;
  }

  .footer__main-content {
    margin-top: 57px;
  }

  .footer__main-headings {
    margin-top: 34px;
  }

  .footer__main-headings a {
    letter-spacing: 0.1em;
  }

  .footer__main-content .copyright-text {
    margin-top: 4px;
  }

  .footer h4, .footer li a {
    font-size: 14px;
  }

  .footer__list {
    margin-top: 32px;
  }

  .footer li a {
    margin: 20px 0;
  }


  .footer__social h4 {
    margin-bottom: 41px;
  }

  .footer__social a {
    margin-right: 20px;
  }

}

/* 
  ==============================
  Responsive for extra-large according to template
  ==============================
*/

@media (min-width: 1800px) {
  .main__section {
    top: 303px;
  }

  .main__heading {
    font-size: 56px;
    line-height: 67px;
  }

  .main__paragraph {
    font-size: 18px;
    line-height: 25px;
  }

  .portfolio__head {
    margin-top: 0px;
  }
  
}