.btn {
  text-transform: uppercase;
  font-family: $font-family--primary;
  font-weight: 700;
  font-size: 13px;
  padding: 10px 20px;
  color: $white;
  background-color: $caribbean-green;
  border: none;
  border-radius: 2px;
  margin-top: 25px;
  cursor: pointer;

  &:hover {
    background-color: darken($caribbean-green,10%);
  }

  @include mq(md){
    font-size: 14px;
    padding: 12px 30px;
    margin-top: 35px;
  }

  @include mq(lg){
    font-size: 15px;
    padding: 15px 40px;
    margin-top: 48px;
  }

  @include mq(xl){
    font-size: 18px;
    padding: 22px 75px;
    margin-top: 70px;
  }

  @include m(small){
    font-size: 12px;
    padding: 9px 18px;
    margin-top: 20px;

    @include mq(md){
      font-size: 13px;
      padding: 11px 22px;
      margin-top: 22px;
    }
  
    @include mq(lg){
      font-size: 14px;
      padding: 13px 24px;
      margin-top: 24px;
    }
  
    @include mq(xl){
      font-size: 15px;
      padding: 16px 29px;
      margin-top: 26px;
    }
  }
}