.info {
  background-color: $white;
  margin: 70px 0px;

  @include e(heading){
    margin: 20px 0px;
    text-align: center;

    h2 {
      font-family: $font-family--secondary;
      font-weight: 700;
      font-size: 28px;
      margin: 20px 0;
      color: $blue-bayoux;

      @include mq(xl){
        font-size: 44px;
        margin: 30px 0;
      }
    }

    p {
      font-family: $font-family--primary;
      font-size: 15px;
      margin: 10px 0;
      color: $lynch;

      @include mq(xl){
        font-size: 22px;
        line-height: 32px;
      }
    }

    @include mq(xl){
      margin: 122px 0 60px 0;
    }
  }

  @include e(list){
    width: 100%;
  }

  @include e(list-item){
    width: 100%;
    list-style: none;
    display: inline-block;
    margin: 10px 0;

    h3 {
      font-family: $font-family--secondary;
      font-weight: 700;
      color: $blue-bayoux;
      font-size: 20px;
      margin-bottom: 15px;

      @include mq(xl){
        font-size: 26px;
      }
    }

    p {
      font-family: $font-family--primary;
      color: $lynch;
      font-size: 14px;

      @include mq(xl){
        font-size: 16px;
      }
    }

    @include mq(lg){
      width: 33%;
    }

  }

  @include e(image){
    color: $caribbean-green;
    width: 22%;
    float: left;
    font-size: 45px;
    text-align: center;
    padding-right: 20px;

    @include mq(sm){
      width: 15%;
    }

    @include mq(md){
      width: 20%;
      padding-left: 65px;
    }

    @include mq(lg){
      padding-left: 0px;
    }

    @include mq(xl){
      font-size: 58px;
      width: 25%;
    }
  }

  @include e(text){
    float: left;
    width: 78%;

    @include mq(md){
      width: 70%;
    }

    @include mq(xl){
      width: 75%;
      line-height: 26px;
    }
  }

  @include mq(xl){
    height: 550px;
  }
}