.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

body {
  background-color: #555555;
  font-family: 'Exo 2', sans-serif;
}

#start-screen {
  display: none;
}

#game-screen {
  display: none;
}

#control-screen {
  display: none;
}

#end-screen {
  display: none;
}

.levels {
  width: 640px;
}

.easy__level, .classic__level, #create__levels {
  width: 25%;
  float: left;
  margin-left: 40px;
}

#custom__levels {
  display: block;
}

.levels button, #custom__levels button{
  width: 175px;
  height: 175px;
  border: none;
  cursor: pointer;
  background-color: #cccccc;
}

.levels::after {
  content: '';
  display: table;
  clear: both;
}

#easy {
  background: url("../images/easy-map.png");
}

#classic {
  background: url("../images/classic-map.png");
}

#start {
  width: 414px;
  height: 140px;
  background: url("../images/start.png");
  border: none;
  cursor: pointer;
}

#game_over--img {
  display: block;
  margin: auto;
}

#won {
  display: none;
}

#map-builder {
  display: none;
  width: 800px;
}

#map-builder__canvas {
  float: left;
}

#input-group {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0%,-50%);
}

#input-group button {
  margin-left: 30px;
  margin-bottom: 20px;
  display: block;
}

#custom__screen {
  display: none;
}

#custom__levels {
  display: none;
  margin-top: 20px;
}

#custom__maps li {
  margin-bottom: 20px;
  list-style: none;
  float: left;
  margin-left: 30px;
}

#custom__maps button {
  background: none;
  cursor: pointer;
  border: none;
  color: #000000;
  font-size: 20px;
}