.main {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  text-align: center;
}

body {
  background-color: #555555;
  font-family: 'Exo 2', sans-serif;
}

#level-screen {
  display: none;
}

#game-screen {
  display: none;
  position: relative;
}

#start-screen {
  display: none;
  position: relative;
}

#end-screen {
  display: none;
}

.levels {
  width: 640px;
}

#custom__levels {
  display: block;
}

.levels button{
  width: 600px;
  height: 80px;
  border: none;
  cursor: pointer;
  background-color: #cccccc;
}

#maps__list {
  padding-left: 0px;
}


#maps__list li {
  list-style: none;
  float: left;
  margin: 15px 22.5px;
}

#maps__list::after {
  content: '';
  clear: both;
  display: table;
}

#start {
  width: 296px;
  height: 100px;
  /* background: url("../images/start.png"); */
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 274px;
  top: 281px;
  background-size: cover;
}

#game_over--img {
  display: block;
  margin: auto;
}

#won {
  display: none;
}

#map-builder {
  display: none;
  width: 800px;
}

#map-builder__canvas {
  float: left;
}

#input-group {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0%,-50%);
}

#input-group button {
  margin-left: 30px;
  margin-bottom: 20px;
  display: block;
}

#custom__screen {
  display: none;
}

#custom__levels {
  display: none;
  margin-top: 20px;
}


#custom__maps button {
  background: none;
  cursor: pointer;
  border: none;
  color: #000000;
  font-size: 20px;
}

.back-button, #map-builder .back-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

.back-button i {
  color: white;
}

#end-screen button {
  width: 175px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: #cccccc;
}

#game-controls {
  position: absolute;
  left: 20px;
  top: 0px;
}

#game-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

#game-play {
  color: #ff0000;
}

#game-pause {
  color: #2e3436;
}

#game-home {
  position: static;
  width: auto;
  height: auto;
}

#game-home i {
  color: #2e3436;
}

#map-builder button {
  width: 215px;
  height: 40px;
  background-color: #cccccc;
  cursor: pointer;
  border: none;
}

#map-builder #show-info {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

#show-info i{
  color: white;
}

#level-screen canvas {
  cursor: pointer;
}

#control-button {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
  background-color: #817777;
  border: none;
  cursor: pointer;
  color: #eeeeee;
}

#controls-div, #map-info {
  display: none;
  position: absolute;
  top: 67px;
  z-index: 2;
  background-color: rgba(200, 200, 200, 0.99);
}

#control-button:hover+#controls-div {
  display: block;
}

#show-info:hover+#map-info {
  display: block;
}